@model DynamicVendors.Models.User

@{
    ViewBag.Title = "displayUser";
}

<h2>displayUser</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPassword)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "updateUser", new { id = Model.UserID }) |
    @Html.ActionLink("Back to List", "Display")
</p>
